.Select--multi .Select-multi-value-wrapper .Select-value {
  background-color: $color-gray-1;
  border-color: $color-blue;
  color: $primary-color-1;
}

.dashboard .content {
  label {
    margin-bottom: 0;
		margin-top: 0.75rem;
  }

  textarea,
  input {
    border-width: 1px;
    border-color: $color-gray-2;
  }

  .tab-content {
    label {
      width: 100%;
    }

    .save input {
      width: 100%;
    }
  }

  .save-filters {
    @include flex-row;

    input {
      flex: 1;
    }

    button {
      margin-left: 0.5rem;
    }
  }
}