.header {
  @include flex-row-justify-space-between;
  padding: $margin-main;

  &__content {
    @include flex-row;
  }

  &__logo {
    img {
      width: 7.75rem;
    }
  }

  &__heading {
    @include flex-column-justify-space-between;
    padding: 0.5rem 0 0.5rem 2rem;

    .version {
      font-size: $font-size-small;
      font-weight: 300;
      margin-bottom: 0;
    }

    .title {
      font-size: $font-size-large;
      margin-bottom: 0;
    }

    .subtitle {
      font-size: $font-size-normal;
      margin-bottom: 0;
    }
  }

  &__nav.navbar {
    background-color: $color-white !important;

    .navbar-nav .nav-item {
      @each $pseudo-class in $pseudo-classes {
        a {
          padding-right: 0.5rem;
          padding-left: 0.5rem;
          text-decoration: none;
        }

        a:#{$pseudo-class} {
          color: $primary-color-1;
        }
      }
    }
  }
}