/* Graph
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#graph_scalars svg {
  shape-rendering: crispEdges;
}

#graph_timeseries svg {
  shape-rendering: crispEdges;
}

#app-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    height: 60rem;
    margin-bottom: 2rem;
}


#header {
    margin-left: 1.5%;
    margin-bottom: 0%;
}


#left-column {
    margin-right: 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    flex: 1.7 17%;
}
#right-column {
    flex: 8.3 83%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

}

#logo {
    float: right;
    padding-right: 5rem;
}


#slider-container {
background-color: #1B2129;
padding: 1rem 2rem 4rem 0rem;
border-style: solid;
border-width: thin;
border-color: #374147;
margin-bottom:1rem;
}


#years-slider{
    margin-left:2rem;
    }

#selection {
background-color: #1B2129;
padding:1rem;
border-style: solid;
border-width: thin;
border-color: #374147;
}

#up {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom:-1rem;
}

#extra,#regions,#technology {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

#type,#parameter,#input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-top:1rem;
}

#text {
    flex: 1 10%;
}

#help1, #help2, #help3, #help4, #help5 {
    background-color: #1B2129;
    padding: 1rem;
    margin-left:2rem;
    margin-bottom:1rem;
    border-style: solid;
    border-width: thin;
    border-color: #374147;
    height:8rem;
    width:13rem;
    font-size:1.8rem;
}

#arbitrary {
    background-color: #1B2129;
    padding: 1rem;
    border-style: solid;
    border-width: thin;
    border-color: #374147;
    flex: 6.5 65%;
    margin-bottom:1rem;
}
#right-left {
    background-color: #1B2129;
    padding: 1rem;
    border-style: solid;
    border-width: thin;
    border-color: #374147;
    flex: 3.5 35%;
    margin-bottom:1rem;
    margin-right:2rem;
}


#scalar {
    height: 45rem;
    margin-top: 0rem;
    }


#down {
    background-color: #1B2129;
    padding: 1rem;
    border-style: solid;
    border-width: thin;
    border-color: #374147;
    margin-top:1rem;
}

#background{
    float:right;
    background-color:#1B2129;
    color:#FFFFFF;
    margin-top:-0.5rem;
    margin-bottom:-1rem;
    margin-left:0.5rem;
    }
#description_1{
    margin-right:1rem;
    margin-left:8%;
    margin-top:0rem;
    font-size:1.5rem;
    float:right;
    z-index:1000;
    position:relative;
    }
#timeseries_check{
    margin-left:3rem;
    font-size:2rem;
    }

#source{
    margin-left:0.1rem;
    float:left;

    }
#source_text{
    font-size: 2rem;
    }

#region_text{
    float:left;
    margin-right:1.8rem;
    }
#technology_text,#type_text,#parameter_text,#input_text{
    float:left;
    }
#parameter{margin-top:4rem;}
#parameter_text{
    margin-top:-3rem;}

#radio4{
    margin-left:18.3rem;
    }
#radio5{
    margin-left:22.7rem;
    }
#radio6{
    margin-left:23.2rem;
    }
#radio7{
    margin-top:-3rem;
    }

#timeseries {
    height:40rem;
    }

#deutschland {
    height:32rem;
    border-style: solid;
    border-width: thin;
    border-color: #FFFFFF;
    }

#dd1,#dd2,#dd3 {
    margin:0.5rem 0.5rem 0.5rem 1rem;
    display: stretch;
    }

#dd4,#dd5,#dd6 {
    margin-left:0.5rem;
    }

#dd7{
    width:67.5rem;
    margin-left:1rem;
    margin-top:-2rem;
    margin-bottom:0.5rem;
    }





