.legal {
    @include flex-row-justify-center;
    padding: 5rem 1rem;
    background-color: $color-gray-1;

    &> div {
        width: 100%;
        max-width: 1024px;
    }

    &__wrap {
        padding-bottom: 4rem;
    }
}