@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-row-justify-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@mixin flex-row-justify-align-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flex-row-justify-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin flex-row-justify-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@mixin flex-row-justify-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-justify-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flex-column-justify-align-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-column-justify-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin box-style {
  background-color: $color-white;
	box-shadow: 0px 4px 16px rgba(31, 86, 125, 0.15);
}

@mixin refresh-btn-style-disabled {
  background-color: $color-gray-1;
  color: $color-gray-3;
  border: 1px solid $color-gray-1;
  cursor: default;
}

@mixin refresh-btn-style-active {
  background-color: $secondary-color-1;
  color: $color-white;
  border: 1px solid $secondary-color-1;
}